.host-name {
    margin-left: 8px;
    font-size: 1.4em;
}

.poster {
    align-self: center;
}

.section {
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-title {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.section-content {
    font-size: 1.2em;
}

.map-container {
    height: 300px;
    width: 500px;
}

.organizers {
    display: flex
}

.pending {
    background-color: yellow;
    cursor: not-allowed;
    pointer-events: none;
    border-color: yellow;
}

.accepted {
    background-color: green;
    cursor: not-allowed;
    pointer-events: none;
    border-color: green;
}

.rejected {
    background-color: red;
    cursor: not-allowed;
    pointer-events: none;
    border-color: red;
}

.organizer-avatar {
    margin-right: 10px;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.clickable:hover {
    cursor: pointer;
}