.buttons {
	flex-direction: column;
	display: flex;
	align-items: center;
}

.action {
	margin-bottom: 10px;
	width: 120px;
}

.details {
	text-align: left;
	flex-direction: column;
	display: flex;
}

.vertical-bar {
	width: 5px;
	background-color: white;
	height: 50px;
}

.date {
	text-align: center;
	flex-direction: column;
	display: flex;
}
